@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*@model Assignment9.Models.addMovie


    <tr>
        <td data-th="Title">@Model.Title</td>
        <td data-th="Author First Name">@Model.Year</td>
        <td data-th="Middle Initial">@Model.DirectorFName</td>
        <td data-th="Author Last Name">@Model.DirectorLName</td>
        <td data-th="Publisher">@Model.Rating</td>
        <td data-th="ISBN">@Model.Edited</td>
        <td data-th="Classification">@Model.LentTo</td>
        <td data-th="Category">@Model.Notes</td>
        <td>
            <form id="@Model.MovieID" asp-page="/ViewMovies" method="post">
                <input type="hidden" asp-for="MovieID"/>
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
                <span class="card-text p-1">
                    Delete
                    <button type="submit" class="btn-success">Delete</button>
                </span>
            </form>
        </td>
    </tr>*@

@*@model Assignment9.Pages.ViewMoviesModel

@using Assignment9.Infrastructure
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author First Name</th>
            <th>Middle Initial</th>
            <th>Author Last Name</th>
            <th>Publisher</th>
            <th>ISBN</th>
            <th>Classification</th>
            <th>Category</th>
            <th>Delete</th>

        </tr>

    </thead>
    <tbody>
        @foreach (var line in Model.Display.Lines)
        {
            <tr>
                <td data-th="Title">@line.addMovie.Title</td>
                <td data-th="Author First Name">@line.addMovie.Year</td>
                <td data-th="Middle Initial">@line.addMovie.DirectorFName</td>
                <td data-th="Author Last Name">@line.addMovie.DirectorLName</td>
                <td data-th="Publisher">@line.addMovie.Rating</td>
                <td data-th="ISBN">@line.addMovie.Edited</td>
                <td data-th="Classification">@line.addMovie.LentTo</td>
                <td data-th="Category">@line.addMovie.Notes</td>
                <td>
                    <form id="@line.addMovie.MovieID" asp-page="/ViewMovies" method="post">
                        <input type="hidden" asp-for="MovieID" />
                        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                        <span class="card-text p-1">

                            <button type="submit" class="btn-success">Delete</button>
                        </span>
                    </form>
                </td>
            </tr>
        }
    </tbody>

</table>*@